body {
    font-family: 'Chivo', serif;
    background-image: url("../img/fog_2.jpg"); 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    height: auto;
}

#top {
    margin-top: 150px;
    margin-bottom: 5px;
}

#pp{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border: 2px solid #3e2b14;
    box-shadow: 2px 2px 2px #aaa;
}
#pp:hover {
    opacity: .8;
}

#blurb{
    text-align: center;
    line-height:16px;
}

#icon {
    text-align: center;
    line-height:16px;
}

#icon img{
    padding: 2px;
    height: 25px;
    width: auto;
}

#panel1v{
    font-size: 14px;
}


#panel2v{
    font-size: 14px;
}

#panel3v{
    font-size: 14px;
}

#panel4v{
    font-size: 12px;
}

#column_lborder{
    border-left: 2px solid #515A5A;
    padding-left: -5px;
}

.divider{
    margin: 20px 0px 20px; 
    /*border-bottom: 1px solid #3e2b14;*/
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:14px;
   width:100%;
   font-size: 12px;
   background: black;
   color: white;
   text-align: center;
}

#linkicon{
    height: 12px;
}

#panel5v{
    font-size: 14px;
}


